src/ansible/files/ansible-key.pub
src/ansible/files/ansible.token
src/ansible/files/ansible-key

src/ansible/group_vars/node/images
src/ansible/group_vars/node/machines

src/ansible/resources/**/*.yml

src/config/vars/**
!src/config/vars/example.json

dist