$TTL 24h
$ORIGIN {{ domain_name }}.
@		IN	SOA	ns.{{ domain_name }}. admin.{{ domain_name }}. (
					1       ; serial number
					24h		; refresh
					2h		; update retry 
					1000h	; expire
					2d		; minimum
					)

		IN	NS	ns.{{ domain_name }}.

ns			IN	A	192.168.1.200
pve			IN	A	192.168.1.171
storage		IN	A	192.168.1.205
*.storage	IN	A	192.168.1.205
