# cloud-config
# https://cloudinit.readthedocs.io/en/latest/reference/examples.html
hostname: {{vm.name}}
manage_etc_hosts: true
chpasswd:
  expire: False
users:
  - default
package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent
  - ufw
runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent