
unix charset = UTF-8

workgroup = WORKGROUP

# change IP address to allow
interfaces = 192.168.1.0/24

bind interfaces only = yes
map to guest = Bad User

[Share]
    # shared directory
    path = {{ smb_path }}
    writable = yes
    guest ok = yes
    guest only = yes
    create mode = 0777
    directory mode = 0777